body {
	background-color: orange;
	font-family: "Comic Sans MS";
}
h1 {
	text-align: center;
}

#board {
	background: url("resources/board.png") no-repeat;
	position: relative;
	width: 347px;
	height: 299px;
	top: 49px;
}

#grid {
	top: 98px;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
}
#msg {
	margin-left: auto;
	margin-right: auto;
	text-align:center;
}
.space {
	height: 10px;
}

td {
	width: 46px;
	height: 47px;
}

.Red-piece {
	background-color: red;
	-moz-border-radius: 39px;
	-webkit-border-radius: 39px;
	position: fixed;
}

.Black-piece {
	background-color: black;
	height: 47px;
	-moz-border-radius: 39px;
	-webkit-border-radius: 39px;
	width: 46px;
<<<<<<< HEAD
	position: fixed;
}
=======
}

.pageButton {
	text-align: center;
}

footer {
	text-align: right;
}
>>>>>>> master
