body {

}

#board {
	background: url("resources/board.png") no-repeat;
	position: relative;
	width: 347px;
	height: 299px;
	top: 49px;
}

#grid {
	top: 98px;
	position: absolute;
}

td {
	width: 46px;
	height: 47px;
}

.Red-piece {
	background-color: red;
	-moz-border-radius: 39px;
	-webkit-border-radius: 39px;
	position: fixed;
}

.Black-piece {
	background-color: black;
	height: 47px;
	-moz-border-radius: 39px;
	-webkit-border-radius: 39px;
	width: 46px;
	position: fixed;
}